@{
    ViewData["Title"] = "Kiadások";
}

<h2>Kiadások</h2>

<div class="row">
    <div class="col-lg-8">
        <div id="expense-list">
            @await Component.InvokeAsync("GetAllExpense")
        </div>
    </div>
    <div class="col-lg-4">
        @await Component.InvokeAsync("CreateExpense")
    </div>
</div>