@{
    ViewData["Title"] = "Expenses";
}

<h2>Expenses</h2>

<div class="row">
    <div class="col-lg-8">
        @await Component.InvokeAsync("GetAllExpense")
    </div>
    <div class="col-lg-4">
        @await Component.InvokeAsync("CreateExpense")
    </div>
</div>