.form-container {
    background-color: aliceblue;
    border: 1px solid teal;
    border-radius: 8px;
    padding: 20px;
}

.alert-container {
    display: none;
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
}
