@using Vinance.Contracts.Enumerations
@{
    ViewData["Title"] = "Categories";
}

<h4>Categories</h4>

<div class="row">
    <div class="col-lg-4">
        <div id="expense-category-list">
            @await Component.InvokeAsync("GetAllCategory", new { type = CategoryType.Expense })
        </div>
    </div>
    <div class="col-lg-4">
        <div id="income-category-list">
            @await Component.InvokeAsync("GetAllCategory", new { type = CategoryType.Income })
        </div>
    </div>
    <div class="col-lg-4">
        <div id="transfer-category-list">
            @await Component.InvokeAsync("GetAllCategory", new { type = CategoryType.Transfer })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        @await Component.InvokeAsync("CreateCategory")
    </div>
</div>