@using Vinance.Web.Components.Category
@{
    ViewData["Title"] = "Kategóriák";
}

<h4>Kategóriák</h4>

<div id="category-tables">
    @await Component.InvokeAsync(typeof(CategoryTables))
</div>