@using Vinance.Contracts.Enumerations
@using Vinance.Web.Components.Category
@{
    ViewData["Title"] = "Kategóriák";
}

<h4>Kategóriák</h4>
<div class="row">
    <div class="col-lg-12">
        @*@await Component.InvokeAsync("CreateCategory")*@
    </div>
</div>
<div id="category-tables">
    <div class="row">
        <div class="col-12">
            @await Component.InvokeAsync(typeof(CategoryTables))
        </div>
    </div>
</div>