@model IEnumerable<Vinance.Contracts.Models.Domain.Category>
@{
    ViewData["Title"] = "Categories";
}

<h4>Categories</h4>

<div class="row">
    <div class="col-lg-8">
        <div id="expense-list">
            @await Component.InvokeAsync("GetAllCategory")
        </div>
    </div>
    <div class="col-lg-4">
        @await Component.InvokeAsync("CreateCategory")
    </div>
</div>