@using Vinance.Contracts.Enumerations
@using Vinance.Web.Components.Category
@{
    ViewData["Title"] = "Kategóriák";
}

<h4>Kategóriák</h4>

<div id="category-tables">
    <div class="row">
        <div class="col-lg-8">
            @await Component.InvokeAsync(typeof(CategoryTables))
        </div>
        <div class="col-lg-4">
            @await Component.InvokeAsync("CreateCategory")
        </div>
    </div>
</div>