@using Vinance.Web.Components.Account
@{
    ViewData["Title"] = "Számlák";
}
<h2>Számlák</h2>
<div class="row">
    <div id="account-list" class="col-lg-8">
        @await Component.InvokeAsync("GetAllAccount", new { editable = true })
    </div>
    <div id="edit-account" class="col-lg-4">
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        @await Component.InvokeAsync(typeof(GetDailyBalances), new { from = new DateTime(2017, 1, 1), to = new DateTime(2019, 3, 1) })
    </div>
</div>