@using Vinance.Web.Components.Category
@using Vinance.Web.Components.Expense
@using Vinance.Web.Components.MainPage
@{
    ViewData["Title"] = "Főoldal";
}

@await Component.InvokeAsync(typeof(CategoryStats))
@*<div class="row mb-4">
    <div class="col-sm-4">
        <a class="btn btn-primary btn-block"
           asp-controller="Expense"
           asp-action="Create"
           data-ajax="true"
           data-ajax-method="GET"
           data-ajax-update="#create-form"
           data-ajax-mode="replace">Költség hozzáadása</a>
    </div>
    <div class="col-sm-4">
        <a class="btn btn-primary btn-block"
           asp-controller="Income"
           asp-action="Create"
           data-ajax="true"
           data-ajax-method="GET"
           data-ajax-update="#create-form"
           data-ajax-mode="replace">Bevétel hozzáadása</a>
    </div>
    <div class="col-sm-4">
        <a class="btn btn-primary btn-block"
           asp-controller="Transfer"
           asp-action="Create"
           data-ajax="true"
           data-ajax-method="GET"
           data-ajax-update="#create-form"
           data-ajax-mode="replace">Pénzmozgás hozzáadása</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-8" id="main-page-tables">
        @await Component.InvokeAsync(typeof(MainPageTables))
    </div>
    <div class="col-lg-4" id="create-form">
        @await Component.InvokeAsync(typeof(CreateExpense))
    </div>
</div>*@