@using System.Security.Claims
@model Vinance.Contracts.Models.TokenResult
@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <span>Hi @User.FindFirst(ClaimTypes.Name).Value</span>
}