@model IEnumerable<Vinance.Contracts.Models.Domain.Category>

<table class="table table-bordered table-sm table-striped" id="category-list">
    <thead class="thead-dark form-group">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="text-right">
                    @item.Balance.ToString("### ### ###")Ft
                </td>
            </tr>
        }
    </tbody>
</table>
