@using Vinance.Contracts.Enumerations
@using Vinance.Web.Components.Transfer
@{
    ViewData["Title"] = "Pénzmozgások";
}

<h2>Pénzmozgások</h2>

<div class="row">
    <div class="col-12">
        <div id="transfer-list">
            @await Component.InvokeAsync(typeof(GetAllTransfer), new{ transferType = TransferType.Transfer})
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div id="edit-transfer"></div>
    </div>
</div>