@model Vinance.Web.Models.Identity.LoginViewmodel
@{
    ViewData["Title"] = "Belépés";
}

<h2>Belépés</h2>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="form-container">
            <form asp-controller="User" 
                  asp-action="Login" 
                  asp-route-returnUrl="@Model.ReturnUrl"
                  method="post">
                <div class="form-group">
                    <label asp-for="UserName" ></label>
                    <input class="form-control" asp-for="UserName">
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input class="form-control" asp-for="Password" type="password">
                </div>
                <div class="custom-control custom-checkbox mb-2">
                    <input class="custom-control-input" asp-for="RememberMe">
                    <label class="custom-control-label" asp-for="RememberMe"></label>
                </div>
                <button class="btn btn-primary">Belépés</button>
            </form>
        </div>
    </div>
</div>
