@using Vinance.Contracts.Enumerations

<div class="row">
    <div class="col-lg-4">
        @await Component.InvokeAsync("GetAllCategory", new { type = CategoryType.Expense })
    </div>
    <div class="col-lg-4">
        @await Component.InvokeAsync("GetAllCategory", new { type = CategoryType.Income })
    </div>
    <div class="col-lg-4">
        @await Component.InvokeAsync("GetAllCategory", new { type = CategoryType.Transfer })
    </div>
</div>
<script>
    feather.replace();
</script>