@model CreateIncomeViewmodel

<div class="form-container">
    <form asp-controller="Income"
          asp-action="Create"
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-update="#account-list"
          data-ajax-mode="replace"
          data-ajax-success="showAlert({message: 'Income successfully created.', class: 'success'})"
          id="create-income">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Date"></label>
            <input asp-for="Date" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Amount"></label>
            <input asp-for="Amount" class="form-control" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Comment"></label>
            <input asp-for="Comment" class="form-control" />
            <span asp-validation-for="Comment" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ToId"></label>
            <select asp-for="ToId" asp-items="Model.AccountList" class="custom-select"></select>
            <span asp-validation-for="ToId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId" asp-items="Model.CategoryList" class="custom-select"></select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>