@model Vinance.Web.Models.CreateExpenseViewmodel

<div class="form-container">
    <form id="create-expense-form" 
          asp-controller="Expense" 
          asp-action="Create" 
          data-ajax="true" 
          data-ajax-method="POST" 
          data-ajax-mode="replace" 
          data-ajax-update="#main-page-tables" 
          data-ajax-success="vinance.showAlert({message: 'Kiadás hozzáadva.', class: 'success'})"
          data-ajax-failure="vinance.showAlert({message: 'Hiba történt.', class: 'danger'})">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Date"></label>
            <input asp-for="Date" type="text" class="form-control text-right" id="expense-datetimepicker" data-toggle="datetimepicker" data-target="#expense-datetimepicker" value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
        </div>
        <div class="form-group">
            <label asp-for="Amount"></label>
            <input asp-for="Amount" class="form-control text-right" value="@(Model.Amount == 0 ? string.Empty : Model.Amount.ToString())"/>
        </div>
        <div class="form-group">
            <label asp-for="Comment"></label>
            <input asp-for="Comment" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="FromId"></label>
            <select asp-for="FromId" asp-items="Model.AccountList" class="custom-select">
                <option value="" disabled selected>Válassz számlát</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId" asp-items="Model.CategoryList" class="custom-select">
                <option value="" disabled selected>Válassz kategóriát</option>
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Hozzáadás" class="btn btn-primary" />
        </div>
    </form>
</div>
<script type="text/javascript">
    vinance.initDatePicker("expense-datetimepicker");
    $.validator.unobtrusive.parse('#create-expense-form');
</script>