
@{
    ViewData["Title"] = "Incomes";
}
<h2>Incomes</h2>

<div class="row">
    <div class="col-lg-8">
        @await Component.InvokeAsync("GetAllIncome")
    </div>
    <div class="col-lg-4">
        @await Component.InvokeAsync("CreateIncome")
    </div>
</div>