@model CreateAccountViewmodel

<form id="create-account-form"
      asp-controller="Account"
      asp-action="Create"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-update="#account-list"
      data-ajax-mode="replace"
      data-ajax-success="vinance.showAlert({message:'Számla létrehozva', class: 'success'})"
      data-ajax-failure="vinance.showAlert({message:'Hiba történt', class: 'danger'})">
</form>

<tr>
    <td class="input-td" colspan="2">
        <input asp-for="Name" placeholder="Név" class="table-input" form="create-account-form"/>
    </td>
    <td class="text-right">
        <button type="submit" class="btn-table text-success" form="create-account-form"><i data-feather="check"></i></button>
    </td>
</tr>